<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groceries Inventory - <%= category.name %> Category</title>
  </head>
  <body>
    <h1><%= category.name %> Category</h1>

    <form method="GET" action="/category/update/<%= category.id %>">
      <button type="submit">Update category</button>
    </form>

    <form method="POST" action="/category/delete/<%= category.id %>">
      <button
        type="submit"
        onclick="return confirm('Are you sure you want to delete <%= category.name %>?');"
      >
        Delete category
      </button>
    </form>

    <div>
      <h2>Items</h2>
      <a href="/item/new?categoryId=<%= category.id %>">Add new item</a>
      
      <% if (items.length === 0) { %>
        <p>No items were found.</p>
      <% } else { %>
        <ul>
          <% items.map(item => { %>
            <li><a href="/item/<%= item.id %>"><%= item.name %></a> - Quantity: <%= item.quantity %></li>
          <% }) %>
        </ul>
      <% } %>
    </div>
  </body>
</html>