<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groceries Inventory - <%= item.name %></title>
  </head>
  <body>
    <h1><%= item.name %></h1>

    <ul>
      <li>Category: <%= category.name %></li>
      <li>Quantity: <%= item.quantity %> <%= item.unit %></li>
      <li>Price: <%= item.price %>$</li>
    </ul>
  </body>
</html>